<div class="card">
    <div class="card-header">
        Recipes
    </div>
    <div class="card-body">
        {{#each user.recs}}
        <div class="card">
            <div class="card-header">
                {{this.rec_name}}
            </div>
            <div class="card-body">
                <a href="recipe/{{this.id}}">
                <img src="../../uploads/{{this.photo}}" width="200"></img>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="card-footer">
        <button id="addRec">Add Recipe</button>
    </div>
</div>